701

colis701.html

vol. 15 no. 3, September, 2010</h4>
<h2 id="proceedings-of-the-seventh-international-conference-on-conceptions-of-library-and-information-science---unity-in-diversity">Proceedings of the Seventh International Conference on Conceptions of Library and Information Science - &quot;Unity in diversity&quot;</h2>
<h1 id="designing-collections-for-storytelling-purpose-pathos-and-poetry">Designing collections for storytelling: purpose, pathos, and poetry</h1>
<h4 id="melanie-feinberg-information-school-university-of-texas-at-austin-1616-guadalupe-st-suite-5202-austin-texas-78701-usa"><a href="#author">Melanie Feinberg</a> Information School, University of Texas at Austin, 1616 Guadalupe St., Suite 5.202, Austin, Texas 78701, USA</h4>
<h4 id="abstract">Abstract</h4>
<blockquote>
<p><strong>Introduction.</strong> While cultural heritage institutions, such as libraries, archives, and museums, may orient themselves toward different purposes, collection design and description form a common means by which these institutions work to achieve their goals. Across the cultural heritage landscape, there has been growing recognition that the composition, structure, and description of these collections creates an interpretive frame through which each item in the assembled group obtains a contextualized meaning. In the archives context,Duff and Harris contend that collection description is a form of storytelling. But what constitutes a good story in the collection context? This paper identifies and describes three textual elements with which collection descriptions might tell vivid, evocative stories: purpose, pathos, and poetry.<br>
<strong>Method.</strong> The paper synthesizes literature from bibliography, cultural studies, and literary studies and uses this framework to examine two collection descriptions. Both these case studies arise from an activist context, in which an underrepresented group seeks to preserve, document, and publicize its resources.<br>
<strong>Conclusions</strong> To reach wider audiences, collection authors should elucidate not only the larger purpose for a collection, but show the significance of collected items in furthering that purpose. Collection authors should also consider clarifying the emotional resonance of their materials for those outside the initiating community. In providing this additional information, collection authors may enable their audiences to construct their own poetic reimaginings of the collection. Beyond collections with an activist orientation, this study suggests that an audience-centered, as opposed to user-centered, design mode may be productive for any collection and associated description.</p>
</blockquote>
<h2 id="introduction">Introduction</h2>
<p>While the various institutions of cultural heritage—libraries, archives, museums—may orient themselves toward the service of different purposes (for libraries, information access; for archives, preservation of information as evidence of the creator’s activities; for museums, research and education of culturally significant artifacts), they work toward these goals via similar means: they design collections. All these institutions select artifacts to reside in their holdings, develop sophisticated systems for describing these artifacts, and create access mechanisms through which patrons can obtain either the artifacts themselves or the information that describes them, or both. Across the cultural heritage landscape, there has been growing recognition that the composition, structure, and description of these collections creates an interpretive frame through which each item in the assembled group obtains a contextualized meaning. A finding aid for the records of the Texas Indian Commission focuses historical attention on the government agency '<em>responsible for</em>' the state’s native tribes, and not on the tribes being acted upon; four museums in the Canadian Northwest portray native artifacts from the same area as, variously, art objects, cultural objects, or everyday objects, as part of a national, native, tribal, or personal identity; a library catalog provides no access points for '<em>Latina lesbians</em>' even though material fitting that description is available in its collection (<a href="#TexasStateArchives">Texas State Archives;</a> <a href="#Clifford">Clifford 1991</a>; <a href="#Delatierra">de la tierra, 2001</a>).</p>
<p>In subscribing to such views and as

   
<article xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" locale="en_US" date_submitted="2015-09-01" stage="submission" date_published="2015-09-01" section_ref="ART" seq="1" access_status="0">
      <id type="internal" advice="ignore">844</id>
      <title>Learning from student experiences for online assessment tasks
</title>
      <abstract locale="en_US"><strong>Introduction.</strong> Use of the Internet for open Web searches is common among university students in academic learning tasks. The tools used by students to find relevant information for online assessment tasks were investigated and their information seeking behaviour was documented to explore the impact on assessment design.<br>
</abstract>

<author include_in_browse="true" user_group_ref="Author">
          <firstname>M.</firstname>
          <lastname> Asim Qayyum</lastname>
          <affiliation locale="en_US"> Charles Sturt University
        </affiliation>
          <country>AU</country>
          <email>info@hb.se</email>
        </author>
      </authors>

      <author include_in_browse="true" user_group_ref="Author">
          <firstname>David</firstname>
          <lastname> Smith</lastname>
          <affiliation locale="en_US"> Charles Sturt University
        </affiliation>
          <country>AU</country>
          <email>info@hb.se</email>
        </author>
      </authors>
<submission_file xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stage="submission" id="2853" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
      <revision number="1" genre="Article Text" filename="Paper674.html" viewable="false" date_uploaded="2015-09-01" date_modified="2019-09-11" filetype="text/html" uploader="christerjohansson">
          <name locale="en_US">Learning from student experiences for online assessment tasks</name>
          <href src="https://bitbucket.org/christerjohansson/information-research/raw/master/2017-2019/issues/
          21-2/Paper674.html"> 
          </href>
        </revision>        
      </submission_file>

      <supplementary_file xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stage="proof" id="2854" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
        <revision number="1" genre="Other" filename="p674fig1.jpg" viewable="false" date_uploaded="2015-09-01" date_modified="2019-12-11" filetype="image/gif" uploader="christerjohansson">
          <name locale="en_US">p674fig1.jpg</name>
          <href src="https://bitbucket.org/christerjohansson/information-research/raw/master/2017-2019/issues/21-2/p674fig1.jpg"></href>
        </revision>
        <publisher locale="en_US">Tom Wilson</publisher>
        <date_created>2015-09-01</date_created>
        <source locale="en_US">University of Bor&#xE5;s</source>
      </supplementary_file>


<article_galley xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" approved="true" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
        <id type="internal" advice="ignore">2844</id>
        <name locale="en_US">paper674.html</name>
        <seq>364</seq>
        <submission_file_ref id="2853" revision="1"/>
      </article_galley>
    </article> 

    702

    An inside view: credibility in Wikipedia from the perspective of editors</h1>
<h4 id="helena-francke"><a href="#authors">Helena Francke</a></h4>
<p>Swedish School of Library and Information Science, University of Borås, SE-501 90 Borås, Sweden</p>
<h4 id="olof-sundin"><a href="#authors">Olof Sundin</a></h4>
<p>University of Borås &amp; Lund University, Department of Arts and Cultural Sciences, Lund University, Box 117, SE-221 00 Lund, Sweden</p>
<h4 id="abstract">Abstract</h4>
<blockquote>
<p><strong>Introduction.</strong> The question of credibility in participatory information environments, particularly Wikipedia, has been much debated. This paper investigates how editors on Swedish Wikipedia consider credibility when they edit and read Wikipedia articles.<br>
<strong>Method.</strong> The study builds on interviews with 11 editors on Swedish Wikipedia, supported by a document analysis of policies on Swedish Wikipedia.<br>
<strong>Analysis.</strong> The interview transcripts have been coded qualitatively according to the participants' use of Wikipedia and what they take into consideration in making credibility assessments.<br>
<strong>Results.</strong> The participants use Wikipedia for purposes where it is not vital that the information is correct. Their credibility assessments are mainly based on authorship, verifiability, and the editing history of an article.<br>
<strong>Conclusions.</strong> The situations and purposes for which the editors use Wikipedia are similar to other user groups, but they draw on their knowledge as members of the network of practice of wikipedians to make credibility assessments, including knowledge of certain editors and of the MediaWiki architecture. Their assessments have more similarities to those used in traditional media than to assessments springing from the wisdom of crowds.</p>
</blockquote>
<h2 id="introduction">Introduction</h2>
<p>Discussions of whether or not you should tr

   
<article xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" locale="en_US" date_submitted="2015-09-01" stage="submission" date_published="2015-09-01" section_ref="ART" seq="1" access_status="0">
      <id type="internal" advice="ignore">844</id>
      <title>Learning from student experiences for online assessment tasks
</title>
      <abstract locale="en_US"><strong>Introduction.</strong> Use of the Internet for open Web searches is common among university students in academic learning tasks. The tools used by students to find relevant information for online assessment tasks were investigated and their information seeking behaviour was documented to explore the impact on assessment design.<br>
</abstract>

<author include_in_browse="true" user_group_ref="Author">
          <firstname>M.</firstname>
          <lastname> Asim Qayyum</lastname>
          <affiliation locale="en_US"> Charles Sturt University
        </affiliation>
          <country>AU</country>
          <email>info@hb.se</email>
        </author>
      </authors>

      <author include_in_browse="true" user_group_ref="Author">
          <firstname>David</firstname>
          <lastname> Smith</lastname>
          <affiliation locale="en_US"> Charles Sturt University
        </affiliation>
          <country>AU</country>
          <email>info@hb.se</email>
        </author>
      </authors>
<submission_file xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stage="submission" id="2853" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
      <revision number="1" genre="Article Text" filename="Paper674.html" viewable="false" date_uploaded="2015-09-01" date_modified="2019-09-11" filetype="text/html" uploader="christerjohansson">
          <name locale="en_US">Learning from student experiences for online assessment tasks</name>
          <href src="https://bitbucket.org/christerjohansson/information-research/raw/master/2017-2019/issues/
          21-2/Paper674.html"> 
          </href>
        </revision>        
      </submission_file>

      <supplementary_file xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stage="proof" id="2854" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
        <revision number="1" genre="Other" filename="p674fig1.jpg" viewable="false" date_uploaded="2015-09-01" date_modified="2019-12-11" filetype="image/gif" uploader="christerjohansson">
          <name locale="en_US">p674fig1.jpg</name>
          <href src="https://bitbucket.org/christerjohansson/information-research/raw/master/2017-2019/issues/21-2/p674fig1.jpg"></href>
        </revision>
        <publisher locale="en_US">Tom Wilson</publisher>
        <date_created>2015-09-01</date_created>
        <source locale="en_US">University of Bor&#xE5;s</source>
      </supplementary_file>


<article_galley xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" approved="true" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
        <id type="internal" advice="ignore">2844</id>
        <name locale="en_US">paper674.html</name>
        <seq>364</seq>
        <submission_file_ref id="2853" revision="1"/>
      </article_galley>
    </article> 

    703

    vol. 15 no. 3, September, 2010</h4>
<h1 id="investigating-oral-information">Investigating oral information</h1>
<h4 id="deborah-turner-and-warren-allen"><a href="mailto:turned@drexel.edu,warren.allen@ischool.drexel.edu">Deborah Turner and Warren Allen</a></h4>
<p>Drexel University, 3141 Chestnut Street, Philadelphia, PA 19104-2875</p>
<h4 id="abstract">Abstract</h4>
<blockquote>
<p><strong>Introduction.</strong> Information research consistently find that people share information by talking, but relatively little research in information science focuses on oral information. Thus, while we need to know more about oral information, less is known about how to accomplish this. We aim to increase understanding of approaches for studying oral information and to explore themes that arise when investigating it.<br>
<strong>Method.</strong> This paper briefly describes the origins, methodological priorities and practical application of four research methods: content analysis, discourse analysis, conversation analysis and oral documents identification, that can be used to analyse oral information.<br>
<strong>Research implications.</strong> This exploration identifies themes to address when investigating oral information and suggests that methods that originate outside of information science may need to be augmented when responding to research questions that concern orality and pragmatic library and information science priorities. Additional investigation of other methods will be useful.<br>
<strong>Value.</strong> This discussion aids efforts to increase understanding of oral information and how to investigate it. It also contributes to cross-disciplinary efforts to acknowledge oral contributions to the development of human intellectual output.<br>
<strong>Conclusions.</strong> These findings have implications for Canadian government health policy, particularly the use of e-health strategies.</p>

   
<article xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" locale="en_US" date_submitted="2015-09-01" stage="submission" date_published="2015-09-01" section_ref="ART" seq="1" access_status="0">
      <id type="internal" advice="ignore">844</id>
      <title>Learning from student experiences for online assessment tasks
</title>
      <abstract locale="en_US"><strong>Introduction.</strong> Use of the Internet for open Web searches is common among university students in academic learning tasks. The tools used by students to find relevant information for online assessment tasks were investigated and their information seeking behaviour was documented to explore the impact on assessment design.<br>
</abstract>

<author include_in_browse="true" user_group_ref="Author">
          <firstname>M.</firstname>
          <lastname> Asim Qayyum</lastname>
          <affiliation locale="en_US"> Charles Sturt University
        </affiliation>
          <country>AU</country>
          <email>info@hb.se</email>
        </author>
      </authors>

      <author include_in_browse="true" user_group_ref="Author">
          <firstname>David</firstname>
          <lastname> Smith</lastname>
          <affiliation locale="en_US"> Charles Sturt University
        </affiliation>
          <country>AU</country>
          <email>info@hb.se</email>
        </author>
      </authors>
<submission_file xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stage="submission" id="2853" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
      <revision number="1" genre="Article Text" filename="Paper674.html" viewable="false" date_uploaded="2015-09-01" date_modified="2019-09-11" filetype="text/html" uploader="christerjohansson">
          <name locale="en_US">Learning from student experiences for online assessment tasks</name>
          <href src="https://bitbucket.org/christerjohansson/information-research/raw/master/2017-2019/issues/
          21-2/Paper674.html"> 
          </href>
        </revision>        
      </submission_file>

      <supplementary_file xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stage="proof" id="2854" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
        <revision number="1" genre="Other" filename="p674fig1.jpg" viewable="false" date_uploaded="2015-09-01" date_modified="2019-12-11" filetype="image/gif" uploader="christerjohansson">
          <name locale="en_US">p674fig1.jpg</name>
          <href src="https://bitbucket.org/christerjohansson/information-research/raw/master/2017-2019/issues/21-2/p674fig1.jpg"></href>
        </revision>
        <publisher locale="en_US">Tom Wilson</publisher>
        <date_created>2015-09-01</date_created>
        <source locale="en_US">University of Bor&#xE5;s</source>
      </supplementary_file>


<article_galley xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" approved="true" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
        <id type="internal" advice="ignore">2844</id>
        <name locale="en_US">paper674.html</name>
        <seq>364</seq>
        <submission_file_ref id="2853" revision="1"/>
      </article_galley>
    </article> 

    704

    >Proceedings of the Seventh International Conference on Conceptions<br> of Library and Information Science&mdash;&quot;Unity in diversity&quot;</h2>
<h1> Corporeality and practice theory: exploring emerging research agendas for information literacy</h1> 
<h4><a href="mailto:anlloyd@csu.edu.au">Annemaree Lloyd</a><br> 
 School of Information Studies, Charles Sturt University, Wagga Wagga, NSW 2678, Australia</h4> 
<h4>Abstract </h4> 
<blockquote>
<strong>Introduction.</strong> Information literacy requires access to a range of information modalities, one of which (corporeality) pertains to the body), which acts as site of embodied knowledge. Understanding corporeality as an information source and the activities that facilitate access to corporeal information and to ways of knowing are rarely discussed. Research into the practice of workplace information literacy reveals that corporeal information is a critical source in developing the understandings required for enactment of workplace identity and for work performance.<br>  
<strong>Method.</strong> A qualitative approach was adopted, within a constructionist perspective, which aimed to develop an understanding of the experience of information and how it is understood in situated practice in relation to other people, practices and the world. Semi-structured face-to-face interviews where undertaken exploriing the information experience of workers. <br>  
<strong>Analysis.</strong> Practice-based approaches to information literacy and the role of the body afford emerging theoretical and empirical agendas for the library and information science field and frame the analysis of research reported in this paper.<br>  
<strong>Conclusions.</strong>Through these studies the corporeal modality emerged as an important source of information that is central for the enactment of workplace identity and work performance and the development of expertise. </blockquote> 

   
<article xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" locale="en_US" date_submitted="2015-09-01" stage="submission" date_published="2015-09-01" section_ref="ART" seq="1" access_status="0">
      <id type="internal" advice="ignore">844</id>
      <title>Learning from student experiences for online assessment tasks
</title>
      <abstract locale="en_US"><strong>Introduction.</strong> Use of the Internet for open Web searches is common among university students in academic learning tasks. The tools used by students to find relevant information for online assessment tasks were investigated and their information seeking behaviour was documented to explore the impact on assessment design.<br>
</abstract>

<author include_in_browse="true" user_group_ref="Author">
          <firstname>M.</firstname>
          <lastname> Asim Qayyum</lastname>
          <affiliation locale="en_US"> Charles Sturt University
        </affiliation>
          <country>AU</country>
          <email>info@hb.se</email>
        </author>
      </authors>

      <author include_in_browse="true" user_group_ref="Author">
          <firstname>David</firstname>
          <lastname> Smith</lastname>
          <affiliation locale="en_US"> Charles Sturt University
        </affiliation>
          <country>AU</country>
          <email>info@hb.se</email>
        </author>
      </authors>
<submission_file xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stage="submission" id="2853" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
      <revision number="1" genre="Article Text" filename="Paper674.html" viewable="false" date_uploaded="2015-09-01" date_modified="2019-09-11" filetype="text/html" uploader="christerjohansson">
          <name locale="en_US">Learning from student experiences for online assessment tasks</name>
          <href src="https://bitbucket.org/christerjohansson/information-research/raw/master/2017-2019/issues/
          21-2/Paper674.html"> 
          </href>
        </revision>        
      </submission_file>

      <supplementary_file xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" stage="proof" id="2854" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
        <revision number="1" genre="Other" filename="p674fig1.jpg" viewable="false" date_uploaded="2015-09-01" date_modified="2019-12-11" filetype="image/gif" uploader="christerjohansson">
          <name locale="en_US">p674fig1.jpg</name>
          <href src="https://bitbucket.org/christerjohansson/information-research/raw/master/2017-2019/issues/21-2/p674fig1.jpg"></href>
        </revision>
        <publisher locale="en_US">Tom Wilson</publisher>
        <date_created>2015-09-01</date_created>
        <source locale="en_US">University of Bor&#xE5;s</source>
      </supplementary_file>


<article_galley xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" approved="true" xsi:schemaLocation="http://pkp.sfu.ca native.xsd">
        <id type="internal" advice="ignore">2844</id>
        <name locale="en_US">paper674.html</name>
        <seq>364</seq>
        <submission_file_ref id="2853" revision="1"/>
      </article_galley>
    </article> 

    705
